<div id="gitment"></div>

<!-- 汉化版 -->
<!--<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">-->
<!--<script src="https://billts.site/js/gitment.js"></script>-->

<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<%- js('js/md5') %>
<script>

	var idPrimary = '<%= page.title %>' + '-' + '<%= page.date %>';
	var idMD5 = md5(idPrimary);

	var gitment = new Gitment({
		id: idMD5, // max length 50
		owner: '<%= config.gitment.owner %>',
		repo: '<%= config.gitment.repo %>',
		oauth: {
			client_id: '<%= config.gitment.client_id %>',
			client_secret: '<%= config.gitment.client_secret %>'
		}
	})
	gitment.render('gitment')
</script>